body {
	margin: 5px;
	font-family: Arial, Helvetica, sans-serif;
}

hr {
	border: 0;
	background-color: #DDDDDD;
	height: 1px;
	margin: 5px;
}

table {
	background: #EFEFEF; none repeat scroll 0 0;
	border: 2px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
	font-size: large;

	vertical-align: top;
	text-align: middle;

/*}

 table  { */
	text-align: middle;
	border: 2px solid #ff00ff;
	background: black;
	padding: 3px;
}

.row-1 {
	background: maroon;
}

.row-2 {
	background: #000066;
	color : white;
}
.row-3 {
	background: white;
	color : black;
}
.row-4 {
	background: #FFF8E6;
}
.row-5 {
	background: white;
}
.row-6 {
	background: #FFD700;
}
.row-7 {
	background: #FF3333;
}
.row-8 {
	background: #FF8585;
}
.row-9 {
	background: FFCECE
}



table tr {
	background-color: #e5ecf9;
	font-size: small;
}

.topLine {
	height: 1.25em;
	background-color: #e5ecf9;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 3px;
	padding-top: 2px;
}

.headline {
	font-weight: bold;
	color: #3366cc;
}

.done {
	font-size: x-small;
	vertical-align: top;
}

.email {
	font-size: x-small;
	vertical-align: top;
}

form td {
	font-size: smaller;
}